{# load base file #}
{% extends 'base/index.html' %}

{%  block title %} Login {% endblock %}

{% block body_block %}
    <h1>Register</h1>
     {% if messages %}
        {% for message in messages %}
           <div class="alert alert-danger">
           <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form role="form" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
         <div class="form-group">
             {{ field.label }}:
             {{ field }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Registeren</button>
    </form>

{% endblock %}