<div class="col-lg-3 col-md-4 col-xs-4 thumb">
    <a href="/slider/detail/{{ slide.slide.id }}/">
        <div class="thumbnail">
            {% if not slide.photo.src %}
                <img class="img-responsive img-rounded" src="/media/images/question_mark.jpg" alt="">
            {% else %}
                <img class="img-responsive img-rounded" src="/media/thumbnail/{{ slide.photo.src }}" alt="">
            {% endif %}
        </div>
    </a>
    <div class="caption">
        <h4>{{ slide.slide.title|title }}<code>{{ slide.slide.hash }}</code></h4>
        <p><b>Bekeken:</b> {{ slide.slide.views_count }}</p>
        <a href="/slider/edit/{{ slide.slide.id }}/"><button class="btn btn-default">Edit</button></a>
        <a href="/slider/detail/{{ slide.slide.id }}/"><button class="btn btn-default">Fotos</button></a>
        <a href="/slider/share/{{ slide.slide.id }}/"><button class="btn btn-default">Share</button></a>
    </div>
</div>