{# load base file #}
{% extends 'base/index.html' %}

{% block title %} Image upload {% endblock %}

{% block body_block %}
    <h1>Foto's uploaden</h1>
    {% include "show_message/error.html" %}
    <form role="form" action="/images/uploading/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label id="image_upload_label" for="id_image">Klik hier om foto's toe te voegen.</label>
        <input id="id_image" name="image" type="file" value="Kies foto's" placeholder="Kies foto's" multiple>
        </br>
        <input type="submit" class="btn btn-primary" value="Toevoegen">
    </form>

{% endblock %}