{# load base file #}
{% extends 'base/index.html' %}

{% block title %} Login {% endblock %}

{% block body_block %}

    <h1>Images - Home</h1>
    <div class="col-lg-2 col-md-3 col-xs-4 thumb">
            <a class="" href="/images/upload/">
                <img class="img-responsive" src="/media/images/upload_button.png" alt="">
            </a>
        </div>
    {% for image in images %}
        <div class="col-lg-2 col-md-3 col-xs-4 thumb">
            <a class="" href="#">
                <img class="img-responsive img-rounded" src="/media/thumbnail/{{ image.src }}" alt="">
            </a>
        </div>

    {% endfor %}


{% endblock %}