{# load base file #}
{% extends 'base/index.html' %}

{% block title %} Image upload {% endblock %}

{% block body_block %}
    <h1>Welkome, vul hieronder de code in om een slider te bekijken.</h1>
    {% include "show_message/error.html" %}
    <form role="form" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Bekijken">
    </form>
    {% if online %}
        <a href="/slider/create_page/"><h3>Ook een slider maken? klik dan hier</h3></a>
    {% else %}
        <a href="/register/"><h3>Ook een slider maken? klik dan hier</h3></a>
    {% endif %}


{% endblock %}