{# load base file #}
{% extends 'base/index.html' %}

{%  block title %} Login {% endblock %}

{% block body_block %}
    <h1>Login</h1>
    {% if messages %}
        {% for message in messages %}
           <div class="alert alert-danger">
           <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form role="form" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label }}
            {{ field }}
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Login">
    </form>

{% endblock %}