{# load base file #}
{% extends '../../../base/templates/base/../../../website/templates/base/index.html' %}

{%  block title %} Regiseteren {% endblock %}

{% block body_block %}

    <h1>Registeren</h1>

    <form method="post">
    {% csrf_token %}
    <label for="name">Voornaam</label>
    <input id="name" type="text" name="name" placeholder="Voornaam">

    <label for="lastName">Achternaam</label>
    <input id="name" type="text" name="lastName" placeholder="Achternaam">
    <input type="submit" value="OK">
</form>

{% endblock %}