{# load base file #}
{% extends 'base/index.html' %}

{% block title %} Images {% endblock %}

{% block body_block %}
    <h4>Profile</h4>
    {% include "show_message/success.html" %}
    <form role="form" action="/user/profile_update/" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label }}:
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Aanpassen</button>
    </form>
    <h4>Abonnement type: <strong>{{ user.member.title|title }}</strong></h4>

{% endblock %}