{# load base file #}
{% extends 'base/index.html' %}

{% block title %} Slider - home {% endblock %}

{% block body_block %}
    <h1>Sliders<a href="/slider/create_page/"> <span class="glyphicon glyphicon-plus"></span></a></h1>
    {% for slide in sliders %}

        <div class="col-lg-3 col-md-4 col-xs-4 thumb">
            <a href="/slider/detail/{{ slide.slide.id }}/">
                <div class="thumbnail">
                    {% if not slide.photo.src %}
                         <img class="img-responsive img-rounded" src="/media/images/question_mark.jpg" alt="">
                    {% else %}
                         <img class="img-responsive img-rounded" src="/media/thumbnail/{{ slide.photo.src }}" alt="">
                    {% endif %}
                </div>
            </a>
            <div class="caption">
                <h4>{{ slide.slide.title|title }}{{ slide.slide.hash }}</h4>
                <a href="/slider/edit/{{ slide.slide.id }}/"><button class="btn btn-default">Edit</button></a>
                <a href="/slider/detail/{{ slide.slide.id }}"><button class="btn btn-default">Fotos</button></a>
{#                <button class="btn btn-danger">Remove</button>#}
            </div>
        </div>

        {#        {{ slide.title|title }}</a>#}
    {% endfor %}
{% endblock %}