{# load base file #}
{% extends 'base/index.html' %}

{% block title %} Slider - home {% endblock %}

{% block body_block %}
    <h1>Slider - home <a href="/slider/create_page/"><span class="glyphicon glyphicon-plus"></span></a></h1>
    {% for slide in sliders %}

        <div class="col-lg-2 col-md-3 col-xs-4 thumb">
            <a href="/slider/detail/{{ slide.slide.id }}/">
                <div class="thumbnail">
                    <img class="img-responsive" src="/media/thumbnail/{{ slide.photo.src }}" alt="">
                </div>
            </a>
            <div class="caption">
                <h4>{{ slide.slide.title|title }}</h4>
                <button class="center_element btn btn-danger">remove</button>
            </div>
        </div>

        {#        {{ slide.title|title }}</a>#}
    {% endfor %}
{% endblock %}