{# load base file #}
{% extends 'base/index.html' %}

{% block title %} Slider - detail {% endblock %}

{% block body_block %}

    <input type="hidden" value="{{ slider.id }}" id="slider_id">

    {#    switch #}
    <h1 class="inline">{{ slider.title|title }}</h1>
{#    <a class="btn btn-default" href="/slider/edit/{{ slider.id }}">Aanpassen</a>#}
    <label class="switch inline">
        {% if slider.active == 0 %}
            <input id="active_check" type="checkbox">
        {% else %}
            <input id="active_check" type="checkbox" checked>
        {% endif %}

        <div class="slider round"></div>
    </label>

    <h3><a href="/slider/image/{{ slider.id }}/">Foto's toevoegen</a></h3>
    {% for image in images %}
        <div class="col-lg-3 col-md-4 col-xs-4 thumb" id="image_block">
            <div class="thumbnail">
                <a class="" href="#">
                    <img class="img-responsive img-rounded" src="/media/thumbnail/{{ image.src }}" alt="">
                </a>
                <div class="caption">
                    <input type="hidden" class="image_id" value="{{ image.id }}">
                    <h4>{{ image.title| title }}</h4>
                    <button class="remove_photo_slider center_element">Remove</button>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}